#principal-body{
  display: grid;
  grid-template-columns: 15% 85%;
  max-width: 1500px;
  margin: 0px auto;
}
.barra-superior{
  background-color: black;
  align-self: center;
}
.inactivo{
  display: none;
}
header {
  height: 100px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.logo-menu{display: none;}
.header-navegacion{
  display: flex;
  list-style: none;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}
header em {
  font-size: 2rem;
  color: white;
}
.header-navegacion li{
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  font-size: 1.4rem;
  color: white;
}
a{text-decoration: none; color: white}
.barra-nav-lateral div{
  background-color: #464445;
  min-width: 118px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  margin-bottom: 5px;
  font-size: 1.3rem;
  border-radius: 20px;
}
.contenedor-home{
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  gap: 15px;
}
.tarjeta-home{
  height: 100%;
  border-radius: 20px;
  box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.tarjeta-home img{
  object-fit: cover;
  width: 300px;
  height: 220px;
  border-radius: 20px;
 }
.servicio{
  display: grid;
  grid-template-columns: 75% 25%;
}
.tarjetas-contenedor{
  justify-content: center;
  justify-items: center;
  padding: 15px;
  padding-top: 0px;
  margin-left: 10px;
}
.tarjeta-contenedor{
  margin-bottom: 10px;
  background-color: #dbc3cd;
  border-radius: 20px;
  display: grid;    
  grid-template-columns: 2fr 1fr;
  box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.flotar:hover{box-shadow: 4px 4px 20px #0009;}
.tarjeta-contenedor img{
  width: 100%;
  border-radius: 22px;
}
.tarjeta-img{
  text-align: center;
}
.tarjeta-titulo{
  text-align: center;
  font-size: 2rem;
  height: 60px;
  padding: 8px;
  background-color: black;
  color: white;
}
.tarjeta-descripcion{
  margin: auto;
  padding-left: 5px;
}
.tarjeta-descripcion-precio{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(268px, 350px));
  color: black;
}
.tarjeta-descripcion-precio h2{
  width: 60%;
  text-align: center;
  background-color: rgb(0, 0, 0);
  margin: 0 auto 15px auto;
  border: 3px solid black;
  border-radius: 30px;
  color: white;
}
.precio-numero{
  margin: 5px;
  font-size: 1.8rem;
}
.tarjeta-descripcion li{
  font-size: 1.2rem;
  color: black;
}
li{
  font-size: 1.3rem;
  color: black;
}
.contenedor-derecho{
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 95%;
  text-align: center;
  border-radius:10px;    
  font-size: 1.3rem;
  color: white;
}
.contenedor-derecho p{
  margin: 0;
}
.contenedor-fecha-disponibilidad{
  background-color: #464445;
  margin-bottom: 10px;
}
.contenedor-solicitud-reserva{
  background-color: #7edab6;
}
.contenedor-editar{
  background-color: #464445;
  line-height: 40px;
}
.resultado-tarjeta{
  margin: auto;
  margin-top: 5px;
  width: 95%;
  padding-left: 5px;
  padding-top: 10px;
  border: 2px solid black ;
  border-radius: 10px;
  line-height: 5px;
  font-size: 1.2rem;
  text-align: center;
}
.resultado-botones{
  line-height: normal;
  text-align: center;
}
.boton-eliminar{
  display: block;
  background-color: rgb(248, 98, 98);
  border-radius: 15px;
  margin-bottom: 5px;
}
.contenedor-secundario{
  max-width: 400px;
  background-color: #7edab6;
  margin-left: auto;
  margin-right: auto;
}
.link{
  display: block;
  background-color: #464445;
  border-radius: 15px;
  margin-bottom: 5px;
}
hr{margin: 0;}
footer{
  background-color: black;
  color: white;
  font-size: 1.1rem;
  text-align: center;
}
@media (max-width: 1210px){
  #principal-body{display: block;}
  .barra-nav-lateral{
    width: 100%;
    display: flex;
    justify-content: center;    
  }
  .servicio{
    display: grid;
    grid-template-columns: 1fr 302px;
  }
  .tarjeta-titulo{height: auto;}
  .tarjeta-descripcion-precio h2{margin: 0 auto 0 auto;}
}
@media (max-width: 920px){
  .tarjeta-contenedor{display: block; position:relative;}
  .tarjeta-descripcion-precio{
    width: 100%;
    display: inline;
  }
}
@media (max-width: 670px){
  header{ height: 50px; margin-bottom: 20px;}
  header em{ font-size: 1.5rem;}
  .barra-nav-lateral{display: none;}
  .header-navegacion{display: none;}
  .servicio{display: inline;}
  .logo-menu{
    display: block;
  }
  .tarjeta-contenedor{margin-bottom: 25px;}
  .tarjetas-contenedor{
    padding: 5px;
    margin: 0px;
  }
  .tarjeta-descripcion{
    display: flex;
    width: max-content;
    justify-content: center;
  }
  .tarjeta-descripcion-precio{
    line-height: 22px;
    display: inline;
  }
  .precio-numero {font-size: 1rem;}
  .tarjeta-descripcion-precio h2{
    font-size: 0.8rem;
    border-radius: 40px;
    border: 1px solid white;
    padding: 0px;
    padding-left: 9px;
  }
  .tarjeta-titulo{
    font-size: 1.4rem;
    position: absolute;
    background-color: black;
    color: white;
    border-radius: 40px;
    border: 2px solid white;
    height: 33px;
    top: -18px;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .contenedor-home{
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 10px;
  }
  .tarjeta-home img{
    width: 200px;
    height: 140px;
   }
}
@media (max-width: 426px){
  .contenedor-home{ 
    grid-template-columns: repeat(auto-fill, 150px);
  }
  .tarjeta-home img{
    width: 150px;
    height: 100px;
  }
}



