div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu div {
  min-width: 180px;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 4px;
  text-decoration: none;
}

div.scrollmenu div:hover {
  background-color: #ad5e5e;
}

.contenedor {
  background-image: url('/public/img/imgSalon.jpeg');
  background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}





